html {
    color: black;
}

body {
    background-color: lightpink;
}

img {
    max-height: 256px;
    max-width: 256px;
    padding-right: 16px;
    padding-left:16px;
}

.banner {
    background-image: url('images/banniere.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner2 {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    filter: grayscale(0.5);
}

h4 {
    color: red;
    padding-left: 32px;
}

footer {
    text-align: center;
    margin: 20px 0;
}

.footer-text {
    color: gray;
    margin: 10px 0;
}
